.wrapper-all-movie-head{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5%;
}
.wrapper-all-movie-title{
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.right-bar{
  display: flex;
  justify-content: space-between;
  width: 50%;
} 
.right-bar-content{
  background-color: #fff;
  height: 40px;
  padding: 0 2%;
  border: none;
  border-radius: 8px;
  outline: none;
}
.wrapper-all-movie-content{
  margin: 2% 0;
  padding: 3%;
  background-color: #fff;
  border-radius: 10px;
}
.wrapper-card-all-movie{
  display: flex;
  margin: 1%;
  flex-wrap: wrap;
}
.card-all-movie{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 194px;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
}
.wrapper-img{
  margin: 3% 0 10% 0;
}
.wrapper-btn-all-movie{
  display: flex;
  flex-direction: column;
}
.btn-wrapper-card-update{
  margin-bottom: 8%;
  color: #5f2eea;
  font-family: 'Mulish';
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.75px;
  background-color: #fff;
  border: 1px solid #5f2eea;
  box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
  border-radius: 8px;
}
.btn-wrapper-card-update:hover,
.btn-wrapper-card-update:focus,
.btn-wrapper-card-update:active,
.btn-wrapper-card-update.active{
  color: white;
  background-color: #5f2eea;
  border-color: #5f2eea;
}
.btn-outline-danger{
  font-family: 'Mulish';
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.75px;
  box-shadow: 0px 8px 24px rgba(240, 102, 102, 0.24);
  border-radius: 8px;
}
