.wrapper-not-found{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-around;
}
.wrapper-img{
  width: 50%;
  height: 40%;
}
.wrapper-not-found-text{
  font-family: 'mulish';
  font-weight: 700;
  font-size: 40px;
  color: #5F2EEA;
  line-height: 24px;
  letter-spacing: 0.75px;
}